# Python cache directories and compiled files
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
.eggs/
lib/
lib64/
parts/
sdist/
var/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Pytest cache
.pytest_cache/

# MyPy, Pyre and other type-checking tools
.mypy_cache/
.dmypy.json
.dmypy-working/
.pyre/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
.venv1
ENV/
env/
venv/

# VS Code
.vscode/

# Others
*.log
*.spec
*.iss
*.fif
*.mgz
*.txt
*.label
*.H
*.K
